body{
  padding: 0px;
  margin: 0px;
}

.busy{
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  top:0px;
  left:0px;
}

.center{
  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
}

.loginCard{
  position: relative;
  @media (min-width: 768px) {
    width: 512px !important;
    padding: 32px;
  }

  width: 100% !important;
  padding: 16px;


  .textField{
    width: 100% !important;
  }

  .autoLogin{
    margin-top: 30px !important;
  }

  .loginBt{
    margin-top: 30px !important;
    width: 100%;
    background-color: #eeeeee!important;
  }
}